img {
    width: 500px;
    height:300px;
}
body {
    background-color: #DBF9FC;
    }
 @media screen and (max-width : 720px) {
        body {
          background-color: #DBF9FC;
          width: 100%;
        }
      }    