img {
    width: 500px;
    height:300px;
}
table,th, td {
    border: 1px solid;
    background-color: red;
  }
body {
    background-color: #DBF9FC;
    }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        body {
          background-color: #DBF9FC;
          width: 100%;
        }
      }